<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355709579518-c1r4v7d7odes3afusup2jhrejlnt7du6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355709579518-c1r4v7d7odes3afusup2jhrejlnt7du6</string>
	<key>API_KEY</key>
	<string>AIzaSyAoJ6A1lO7KENG68w_7J8lDMmNrWNp_CMw</string>
	<key>GCM_SENDER_ID</key>
	<string>355709579518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flavorsExample.stg</string>
	<key>PROJECT_ID</key>
	<string>stgflavors</string>
	<key>STORAGE_BUCKET</key>
	<string>stgflavors.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355709579518:ios:c2dbe7c0eec8735f97f5af</string>
</dict>
</plist>